<footer>
    <div class="obed">
        <a href="#"> ©GOLGIM Links</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a> <a href="#"><img src="/images/4672599.png" alt="" class="k"></a>
        <a href="#"><img src="/images/702299.png" alt="" class="k"></a>

      </div>
    </footer>
      
</body>
</html>