.navbar
{
  background-image: url("interiorImage.MQ6.12.20210713105346.jpeg");

  white-space: nowrap;
} 
.navbar-left
{
  background-image: url("interiorImage.MQ6.12.20210713105346.jpeg");
   text-align: left;
  white-space: nowrap;
  
} 

.navbar-right
{
  background-image: url("interiorImage.MQ6.12.20210713105346.jpeg");
   text-align: right;
  white-space: nowrap;
  flex:7;
  border: aqua;
} 
#navbar-kofi
{
  color:ghostwhite;

}
.navbar a
{
padding: 14px;
text-align: right;
color: ghostwhite;
display:inline-block;
margin-top: 0px;
position:relative;
font-size: 25px;
text-decoration: none;

}

.img-fluid{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1px;
}
p
{
 text-align: center;
 align-items: center;
 justify-content: center;
 padding: 70px;
 
}
.obed {
  background-image: url("interiorImage.MQ6.12.20210713105346.jpeg");
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 80px;
  padding-right: 0%;
  padding-bottom: 0%;;
}
.obed a
{
padding:20px;
color: ghostwhite;
padding-bottom: 10px;
display: inline-block;
text-decoration: none;
}

dl
{
  text-align: left;
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 90px;
  
}
dl a
{
  text-decoration: none;
}

.k{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1px;
    position: relative;
    left: 850px;
}
body
{
  background-image: url("interiorImage.MQ6.12.20210713105346.jpeg");
}

dt{
  color:white;
  font-size: 30px;
}

dd a
{
color: white;
font-size: 20px;
}