.navbar
{
   background-color: black;
  white-space: nowrap;
} 
.navbar-left
{
   background-color: black;
   text-align: left;
  white-space: nowrap;
  
} 

.navbar-right
{
   background-color: black;
   text-align: right;
  white-space: nowrap;
  
} 
.navbar-kofi
{
    color: black;
}
.navbar a
{
padding: 14px;
text-align: right;
color: ghostwhite;
display:inline-block;
margin-top: 0px;
position:relative;
font-size: 25px;

}

.img-fluid{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1px;
}
p
{
 text-align: center;
 align-items: center;
 justify-content: center;
 padding: 70px;
 
}
.obed {
  background-color:black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 80px;
  padding-right: 0%;
  padding-bottom: 0%;;
}
.obed a
{
padding:20px;
color: ghostwhite;
padding-bottom: 10px;
display: inline-block;
}

.mango{
    align-content: center;
}

form{
    text-align: center;
}