
<%- include('./partials/header.ejs')%>

        <style type="text/css">
            body, .navbar, .navbar-left, .navbar-right, .obed {
               background-image: url('/images/interiorImage.MQ6.12.20210713105346.jpeg');
               margin: 0;
           }
       </style>
        
        <p> Welcome to GOLGIM Links site<br><br>
            Go to meetings and create GOLGIM events to link with new people or people you already know.<br>
            You can look for something new to do with the people you link up with or look for people who<br> 
            has the same interest in what you looking for such gym and game parteners.<br><br>
            View the Meetings section for available meetings<br><br>
        </p>
        <%- include('./partials/footer.ejs')%>